# Ignorar diretórios do Composer
/vendor/
/composer.phar

# Ignorar arquivos de autoload gerados pelo Composer
/vendor/autoload.php
/vendor/composer/

# Ignorar diretório de dependências do Composer
/composer.lock

# Ignorar diretório de cache do Composer
/.phpunit.result.cache

# Ignorar diretórios do PHP
/storage/
/logs/

# Ignorar arquivos de configuração do ambiente
.env
.env.example
